body, html{
    height: 100%;
    margin: 50px;
  }
  
  
  /*.hero-text button:hover{
body,
html {
  height: 100%;
  margin: 50px;
  background-color: #952c4a;
}

/* Navigation section */

.headText{
  color: #8c52ff;
}

.brdr{
  border: 20px solid transparent;
  border-color: #8c52ff;
}

.footSect, #theEnd{
  display:block;
  background-color: #8c52ff;
}

h5, a, #theEnd{
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
}




.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


span {
  text-align: right;
  /* padding: 50px; */
}

/* .btn-menu {
  background-color: green;
} */

/* Header section */
header {
  text-align: center;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: "Allura";
}



/*.hero-text button:hover{
    background-color: #555;
    color: white;
  }*/

/*.navbar{ no longer needed 
    float:right;
    color: white;
    font-size: 20px;
  }*/

.navStyle {
  font-size: 30px;
  cursor: pointer;
  padding-left: 15px;
}

/*.chngClr{
    margin: 0 auto;
    width: 100px;
    clear: both;
    display: block;
    color: white;
  }*/

/*#main { no longer needed 
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  #socIcons{
    text-align:left;
    text-transform:uppercase;
  }
  
  .heroTxt{
    font-size:50px;
  }*/

